.tryfree {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_part_try {
  display: flex;
  align-items: center;
}

.requiest {
  display: flex;
  align-items: center;
  padding: 12px 35px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin-top: 40px;
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-left: 10px;
  color: #9c69e2;
}

@media screen and (max-width: 576px) {
  .tryfree {
    display: block !important;
  }
}
