.app {
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 50px;
}

.app_head {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}
.app_content p {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}
.app_image img {
  margin-top: -135px;
  margin-bottom: -166px;
  height: 731px;
  width: 700px;
}

@media screen and (max-width: 576px) {
  .app_image img {
    margin-top: 0;
    margin-bottom: 0;
    height: 470px;
    width: 607px;
  }
}
